#lesson-homewroks-index
  = content_for :h1_for_wrap do
    %h1.pull-left Homeworks

  - if @homeworks.present?
    %table.table.table-striped
      %tr
        %th State
        %th Participant
        %th Show

      - @homeworks.each do |homework|
        %tr{ id: "lesson-homework-#{homework.id}" }
          %td
            %span= image_tag(status_of_homework(homework.state), id: 'state_image')
            = select_tag 'state', options_for_select(Homework.aasm.states.map(&:name), selected: homework.state), class: 'form-control'
          %td= "#{homework.user.first_name} #{homework.user.last_name}"
          %td= link_to 'Show', homework_path(homework), method: :get, class: 'btn btn-default', id: 'show-homework'
    = hidden_field(:lesson, :homework, value: params[:lesson_id])
    = hidden_field(:course, :homework, value: params[:course_id])
    = paginate @homeworks
  - else
    %h2 No homeworks
