%tr{ id: "course-participant-#{user.id}" }
  %td= "#{user.first_name} #{user.last_name}"
  %td
    - if user.id == current_user.id && course.user_id != current_user.id
      = link_to 'Unsubscription', course_participant_subscriptions_path(course), method: :delete, remote: true
  - if course.user_id == current_user.id
    %td
      - if user.expel_in?(course)
        Student expelled
      - else
        = link_to 'Expel student', course_expel_participants_path(course_id: course.id, user_id: user.id), method: :post, remote: true
