#course-lessons-index
  %h1 Lessons

  - if @lessons.present?
    %table.table.table-striped{ id: 'courses-list' }
      %tr
        %th Title
        %th Start date
        %th Picture
        %th View

      - @lessons.each do |lesson|
        %tr
          %td= lesson.title
          %td= lesson.start_date&.strftime('%d.%m.%Y')
          %td= image_tag(lesson.picture.thumb)
          %td
            - if can? :manage, course
              = link_to 'View lesson', course_lesson_path(course_id: course, id: lesson), method: :get, class: 'btn btn-default'
    = paginate @lessons
  - else
    %h2 No lessons
