#course-lessons-show
  .nav-tabs-custom
    %ul.nav.nav-tabs
      %li.active
        = link_to 'Lesson', '#tab_1', 'aria-expanded': 'true', 'data-toggle': 'tab'
      %li.pull-right
        = button_to 'Deliver homework', course_lesson_homeworks_path(course, @lesson), remote: true, class: 'btn btn-default'
    .tab-content
      #tab_1.tab-pane.active
        %b Title
        %p= @lesson.title

      #tab_1.tab-pane.active
        %b Start date
        %p= @lesson.start_date

      #tab_1.tab-pane.active
        %b Descriprion
        %p= @lesson.description

      #tab_1.tab-pane.active
        %b Picture
        %p= image_tag(@lesson.picture.thumb)

      #tab_1.tab-pane.active
        %b Synopsis
        %p= @lesson.synopsis

      #tab_1.tab-pane.active
        %b Homework
        %p= @lesson.homework

  - if @comments.present?
    - @comments.each do |comment|
      .box-footer.box-comments
        .box-comment
          = image_tag(current_user.picture.thumb, alt: 'User Image', class: 'img img-circle img-sm')
          .comment-text
            - if can? :manage, comment
              = link_to lesson_comment_path(@lesson, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-box-tool pull-right' do
                %i.fa.fa-times
            %span.username #{comment.user.first_name} #{comment.user.last_name}
            = comment.body

  .box-footer
    = simple_form_for [@lesson, Comment.new] do |f|
      = image_tag(current_user.picture.thumb, alt: 'Alt Text', class: 'img img-responsive img-circle img-sm')
      .img-push
        = f.input :body, as: :string, label: false, input_html: { class: 'form-control input-sm', placeholder: 'Press enter to post comment' }

#modal-lesson-homework.modal.fade{ style: 'display: none;' }


