#course-lesson-index
  = content_for :h1_for_wrap do
    %h1.pull-left Lessons
    = link_to 'Add Lesson', new_users_course_lesson_path(course), method: :get, class: 'btn btn-default pull-right'

  - if @lessons.present?
    %table.table.table-striped
      %tr
        %th Title
        %th Position
        %th Start date
        %th Picture
        %th Homeworks of students
        %th Edit
        %th Delete

      - @lessons.each do |lesson|
        %tr
          %td
            = link_to users_course_lesson_path(course, lesson) do
              = lesson.title
          %td= lesson.position
          %td= lesson.start_date.strftime('%d.%m.%Y')
          %td= image_tag(lesson.picture.thumb)
          %td= link_to 'Homeworks', users_course_lesson_homeworks_path(course_id: course, lesson_id: lesson), method: :get, class: 'btn btn-default'
          %td= link_to 'edit', edit_users_course_lesson_path(course_id: course, id: lesson), method: :get, class: 'btn btn-default'
          %td= link_to 'delete', users_course_lesson_path(course, lesson), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
    = paginate @lessons
  - else
    %h2 No lessons
